<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  
  <appSettings>
    <add key="logFilePath" value="c:\CommunityServerLog.txt"/>
    <add key="DBServer" value=""/> <!-- Address of server. EG 192.168.0.1 or LocalHost or 127.0.0.1 -->
    <add key="DBSchema" value=""/> <!-- The name of the schema in the database. EG for mysql create a schema(database) and enter its name here -->
    <add key="DBUsername" value=""/> <!-- The username for the user used to access the schema -->
    <add key="DBPassword" value=""/> <!-- The password for the user that has access to the schema-->
  </appSettings>

  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="ddMMyyyy-HHmm"/>
      <encoding value="utf-8"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.SimpleLayout"/>
    </appender>

    <root>
      <level value="INFO"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
  </log4net>
  
  <system.serviceModel>
    <services>
      <!-- This section is optional with the new configuration model
           introduced in .NET Framework 4. -->
      <service name="CommunityServerWindowsService.CommunityServerWFCService" behaviorConfiguration="CommunityServerServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:4567/CommunityServerService/service"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost:4567/CommunityServerService/service  -->
        <endpoint address="" binding="wsHttpBinding" contract="CommunityServerWindowsService.ICommunityServerWFCService"/>
        <!-- the mex endpoint is exposed at http://localhost:4567/CommunityServerService/service/mex -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CommunityServerServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
